/* Basic styling */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #b6b6df;
}

.container {
  background-color: #f6f6f8; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 900px;
  display: flex; /* Enable flexbox for layout */
  flex-direction: column; /* Arrange elements vertically */
  font-family: sans-serif;
}

.loginheading{
  background-color:rgb(253, 128, 128); 
  height: 140px;
  width:100%;
  margin: -20px 0px 0px 0px;

}

.sigIn_container{
  background-color: #f6f6f8;
  width: 90%;
  height: 566px;
  margin: 30px 0px 0px 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box; /* Include padding in width calculation */
  height: 50px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  border: none;
}



button[type="submit"] {
  margin-top: 10px;
  width: 100%;
  height: 52px;
  padding: 10px 20px;
  background-color: #ff6c6c;
  color: white;
  border:none;
  border-radius: 20px;
  cursor: pointer;
  display: block; /* Make button full width */
  margin: 0 auto; /* Center horizontally */
  font-size: 30px;
  font-weight: 600;
}
button[type="login"]
{
  margin-top: 10px;
  width: 100%;
  height: 52px;
  padding: 10px;
  background-color: #f6f6f8;
  border-color: #ff0000;
  border-radius: 20px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 500;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
  



/* Error messages */
.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

/* Responsive Adjustments */
@media only screen and (max-width: 768px) {
  /* Adjust layout for smaller screens */
  .container {
      padding: 15px;
  }

  h1 {
      font-size: 1.2em; /* Adjust heading size */
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
      font-size: 0.9em; /* Adjust input font size */
  }
}
